.ant-carousel .slick-slide {
    height: 160px;
}

.carousel img {
    width: 400px;
    height: 360px;
}

#home-category {
    background-color: #fff;
    padding: 10px;
    .carousel-item {
        ul {
            width: 100%;
            height: auto;
        }
        a {
            color: #333;
        }
        li {
            display: block;
            list-style: none;
            width: 20%;
            background-repeat: no-repeat;
            background-size: 50px auto;
            background-position: top center;
            text-align: center;
            color: #666;
            font-size: 14px;
        }
        .icon {
            height: 50px;
            font-size: 0.6rem;
            line-height: 50px;
        }
    }
    .index-container {
        margin-top: 10px;
        ul {
            width: 100%;
            height: auto;
            text-align: center;
        }
        li {
            list-style: none;
            display: inline-block;
            height: 8px;
            width: 8px;
            border-radius: 4px;
            background-color: #ccc;
            margin: 0 3px;
        }
        li.selected {
            background-color: rgb(233, 32, 61);
        }
    }
}