.header {
  background-color: #e9203d;
  padding: 10px; }
  .header * {
    color: #F2F2F2;
    font-size: 16px;
    line-height: 1; }
  .header .home-header-left {
    width: auto;
    margin: 0; }
  .header .home-header-middle {
    margin: 0; }
