.header {
    background-color: rgb(233, 32, 61);
    padding: 10px;
    * {
        color: #F2F2F2;
        font-size: 16px;
        line-height: 1;
    }
    .home-header-left {
        width: auto;
        margin: 0
    }
    .home-header-middle {
        margin: 0;
    }
}