.cityNameList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .cityNameItem {
        width: 24%;
        height: 40px;
        border: 1px solid #CCC;
        line-height: 40px;
        border-radius: 2px;
        margin: 0.5%;
        background: lightcoral;
        color: white;
    }
}